@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-neutral-950 text-white;
}
/* Remove visualmente todas as barras de rolagem — MAS mantém scroll funcionando */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* Internet Explorer/Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
